{% extends "base.html" %}
{% block content %}

<!-- TODO: check if "if" would work here when making navigaton for next drink. We need two variables for previous and next beer -->
<div class="grid gap-2 grid-cols-3 place-items-center w-4/5 mx-auto my-2">
	<div class="w-max h-max text-kel text-xl"><a class="hover:text-orange-600" href="{% url 'sites:beerInfo' pk=prevBeer %}"><---</a></div>
	<h1 class="text-xl text-kel text-center">{{ theBeer.beer_name }}</h1>
	<div class="w-max h-max text-kel text-xl"><a class="hover:text-orange-600" href="{% url 'sites:beerInfo' pk=nextBeer %}">---></a></div>
</div>

<div class="text-center text-white my-4 w-4/5 mx-auto">
	<h2>Here will be beer specific knowledge. Might be button for next drink.</h2>
	<div class="grid grid-cols-3 gap-2 my-4">
		<div>
			<img class="rounded-md" src="{{ theBeer.image.thumbnail.url }}" alt="{{ theBeer.beer_name }}" width="400px" height="400px"/>
		</div>
		<div class="col-span-2 text-xl">
			<h1 class="my-2 underline">{{ theBeer.beer_name }}</h1>
			<p> Rate: {{ theBeer.stars }} / 10</p>
			<p> Country made: {{ theBeer.countryMade }}</p>
			<!-- Need div where these adjectives are looking nice -->
			<div class="gap-2 grid grid-cols-6 place-items-center my-4">
				{% for adj in theBeer.adjectives.all %}
					<div class="w-max h-max px-2 bg-orange-600 rounded-full">{{ adj }}</div>
				{% endfor %}
			</div>
			<p>{{ theBeer.description }}</p>
		</div>
	</div>
</div>
{% endblock content %}
