body{
    min-height: 100vh;
    background-color: black;
	position: relative;
}
h1 {
	color:salmon;
	text-align: center;
}
.bg {
	background-color: grey;
	width: 80%;
	max-height: 20%;
	margin: auto;
}
.foot{
	bottom: 0px;
	background-color: grey;
	width: 80%;
	height: 42px;
	margin: auto;
}
